body{
    font-family: sans-serif;
    background-color: #ffffff;
    line-height: 1.5;
}

.active{
    background-color: #28a745;
}
ul {
    list-style-type: none;
    margin-top:-8px ;
    margin-left: -8px;
    margin-right: -8px;;

    padding: 7px;
    overflow: hidden;
    background-color: #343a40;
    height: 53px;
  }
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111;
  }

/*
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li{
    float: left;
}
td{
    align-items: flex-end;
}
li a{
    display: inline;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;

}

li a :hover{
    background-color: aqua;
}
*/

#contenedor{
    margin-top: 100px;
    vertical-align: middle;
    align-content: center;
    text-align: inherit;
    
}
#formulario{
    margin: auto;
    background-color:cornsilk;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;

}  
#info{
    align-items: initial;
    padding: 50px 50px;
}
#btn_registro{
    align-items: center;
}